# Copy this file from secrets.example to secrets and fill in the
# following variables.
#

export TF_VAR_access_key="<AWS_ACCESS_KEY>"
export TF_VAR_secret_key="<AWS_SECRET_ACCESS_KEY>"
export TF_VAR_key_name="<AWS KEY NAME>"
export TF_VAR_key_path="</PATH/TO/AWS/KEY.pem>"
