[Unit]
Description=Locust Master Service
After=network.target
Requires=carbon-cache.service graphite-api.service

[Service]
EnvironmentFile=/etc/default/locust
Type=simple
User=ubuntu
WorkingDirectory={{ locust_base_dir }}
ExecStart=/usr/local/bin/locust --host=${GIRDER_HOST_URL} --master -f locust_file.py

[Install]
WantedBy=multi-user.target
