[Unit]
Description=Locust Master Service
After=network.target

[Service]
EnvironmentFile=/etc/default/locust
Type=simple
User=ubuntu
WorkingDirectory={{ locust_base_dir }}
ExecStart=/usr/local/bin/locust --host=${GIRDER_HOST_URL} --master-host=${LOCUST_MASTER_IP} --slave -f locust_file.py

[Install]
WantedBy=multi-user.target
